/* Midle */
.fix_footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 96%;
        padding: 10px;
        background-color: rgb(69, 104, 69);
        border-top-right-radius: 50px 40px;
        border-top-left-radius: 40px 30px;
        height: 50px;
        transition: height .5s ease-in;
}

.fix_footer:active{
    height:calc(100% -20px);
}

.back{
    margin-top: 6px;
}


.slide_up_btn{
    width: 50px;
    height: 5px;
    background-color: grey;
    margin: auto;
    border-radius: 10%;
}

.audio_ls{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: black;
}

.audio_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
}

.audio_img>img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.audio_info{
    font-size: 14px;
}

.audio_info p:last-child{
    color: grey;
    margin-top: -10px;
}

.audio_ls_container{
    padding-left: 20px;
}

.play{
    font-size: 200%;
}

.next{
    font-size: 240%;
    color: black;
}

.right{
    margin-right:5%;
    color: black;
    padding-top: 1%;
}

.img_play_pause{
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 5px;
}

/* AudioPlayer */

.audio_player{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 96%;
    padding: 10px;
    background-color:  rgb(69, 104, 69);
    border-top-right-radius: 50px 40px;
    border-top-left-radius: 40px 30px;
    height:calc(100% - 40px);
}

.slide_up_btn{
width: 50px;
height: 5px;
background-color: grey;
margin: auto;
border-radius: 10%;
}

.audio_covering{
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 30px;
    margin-top: 10%;
    margin-right: 7%;
    margin-left: 7%;
}

.audio_covering>img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.audio_info_big{
    margin-top: 10%;
}

.audio_info_big p:last-child{
    color: grey;
    margin-top: -10px;
}

.player_progress{
    margin-top: 5%;
    width: 94%;
}

.player_progress>input{
    width: 93%;
    height: 5px;
    border-radius: 10px;
}

.audio_control_big{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

.controls{
    font-size: 240%;
    color: black;
}

.button_controls{
    border: none;
    outline: none;
    background: transparent;
}

.play_pause{
    display: flex;
    justify-content: center;
    padding-left: 5px;
}

.navigation_wrapper
{
    min-width: 100%;
    background-color: rgba(169, 169, 169, 0.781);
    height: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.seek_bar{
    cursor: pointer;
    width: 0;
    height: 100%;
    background-color: rgb(56, 56, 56);
    border-radius: 30px;
}

/* Header */

.logo{
    font-size: 200%;
}

.flex{
    display: flex;
}

.justify-sb{
  justify-content: space-between;
}

/* Tabs */

.tab-header > a{
    flex:1;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color : white;
    font-size: 130%;
    border-bottom: 1px solid gray;
}

.tab-header > a.active{
    border-bottom: 1px rgb(69, 108, 73) solid;
}   

.tab-contents .tab-content{
    display: none;
}

.tab-contents .tab-content:target{
    display:block;
}

.affichage_music{
    margin-top: 10px;
}

.aboutUs{
    margin-top: 10px;
}

.audio_ls{
    background-color: black;
}

.icon_audio{
    font-size: 190%;
}

.audio_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
}

.audio_info{
    font-size: 14px;
}

.audio_info p:last-child{
    color: grey;
}

ul {
    list-style-type: none;
}